<% if flash[:notice] %>
  <div class="flash">
  	<%= flash[:notice] %>
  </div>
<% end %>

 <p class="youkoso2">
  <strong>Title:</strong>
  <%= @book.title %>
  </p>
 <p class="youkoso2">
  <strong>Body:</strong>
  <%= @book.body %>
  </p>
<%= link_to "Edit", edit_book_path(@book), {class: "youkoso4"} %>
 |
<%= link_to "Back", books_path(@book), {class: "youkoso5"} %>